{% extends "base.html.twig" %}

{% block title %}Bienvenue sur votre Ice compte !{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block betweenNavbars %}
    <h1 class="row">MON COMPTE</h1>
{% endblock %}

{% block navbar2 %}
    <div class="row second-navbar-ok mt-4 ms-auto me-auto mb-3">
        <ul class="navbar-nav mt-4">
            <li class="col-md-6 ms-auto me-auto nav-item">
                <a class="nav-link {{ infos_link }}" href="#infos-card">MES INFOS</a>
            </li>
            <li class="col-md-6 ms-auto me-auto nav-item">
                <a class="nav-link {{ commandes_link }}" href="{{ path('account_orders', {'id': user.id}) }}">MES COMMANDES</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-5">
                <div class="row">
                    <div class="col-md-12 ice-card card-title">
                        <h2>Mes informations personnelles</h2>
                    </div>
                    <div class="col-md-12 mt-2 mb-1">
                        <p><strong>{{ user.userLastname|upper }} {{ user.userName }}</strong></p>
                        <p><strong>E-mail : </strong>{{ user.userMail }}</p>
                        <p><strong>Tél. : </strong>0{{ user.userPhoneNumber }}</p>
                        <p><strong>Adresse : </strong>{{ user.userAdress }}</p>
                        <p>{{ user.userPostcode }} {{ user.userCity }}</p>
                    </div>
                    <div class="col ms-auto me-auto mb-4">
                        <a href="{{ path('account_edit', {'id': user.id}) }}">
                            <button class="btn btn-info iceice-button">Modifier mes infos</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
