{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}
    {% if ordering %}
        Mon Ice panier
    {% else %}
        Login
    {% endif %}
{% endblock %}

{% block betweenNavbars %}
    {% if ordering %}
        <h1 class="row">MON ICE PANIER</h1>
    {% else %}
        <h1 class="row">MON ICE COMPTE</h1>
    {% endif %}
{% endblock %}

{% block navbar2 %}
    {% if ordering %}
        <div class="row second_navbar mt-4 ms-auto me-auto mb-3">
            <ul class="navbar-nav mt-4">
                <li class="col-md-4 ms-auto me-auto nav-item">
                    <a class="nav-link {{ panier_link }}" href="/panier">MON PANIER</a>
                </li>
                <li class="col-md-4 ms-auto me-auto nav-item {{ connexion_link }}">CONNEXION</li>
                <li class="col-md-4 ms-auto me-auto nav-item {{ recap_link }}">RÉCAPITULATIF</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            {% if ordering %}
                <div class="col-md-6 mb-4 ms-auto me-auto progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            {% endif %}
            
            <div class="container ms-auto me-auto half-card mt-4 mb-4">
                <form action="{{ path('security_login', {'status': 'security'}) }}" method="post" class="row ice-card m-2 infos-card">
                    <div class="col-md-12 ice-card card-title">
                        <h2>J'ai déjà un compte</h2>
                    </div>
                    <div class="col-md-12 mt-2 mb-2">
                        <div class="form-group">
                            <input placeholder="Adresse email" required name="_username" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            {% if ordering %}
                                    {# <a href="{{ path('security_login', {'status': 'panier'}) }}"> #}
                                        <button type="submit" class="btn btn-info iceice-button" id="cart-connect-btn">Connexion</button>
                                    {# </a> #}
                            {% else %}
                                <button type="submit" class="btn btn-info iceice-button">Connexion</button>
                            {% endif %}
                            {# <button type="submit" class="btn btn-info iceice-button">Connexion</button> #}
                        </div>
                    </div>
                </form>
                
                <div class="row ice-card m-2 infos-card">
                    <div class="col-md-12 ice-card card-title">
                        <h2>Je n'ai pas encore de compte</h2>
                    </div>
                    <div class="col-md-12 mt-2 mb-2">
                        <p><strong>Rejoignez la Ice Team :</strong></p>
                        {% if ordering %}
                            <a href="{{ path('security_registration', {'status': 'panier'}) }}">
                                <button type="button" class="btn btn-info iceice-button">Je m'inscris !</button>
                            </a>
                        {% else %}
                            <a href="{{ path('security_registration', {'status': 'security'}) }}">
                                <button type="button" class="btn btn-info iceice-button">Je m'inscris !</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}