{% extends "base.html.twig" %}

{% block title %}Votre Ice compte !{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/cart.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block betweenNavbars %}
    <h1 class="row justify-content-md-center">MON COMPTE</h1>
{% endblock %}

{% block navbar2 %}
    <div class="row second_navbar mt-4 ms-auto me-auto mb-3">
        <ul class="navbar-nav">
            <li class="col-md-6 nav-item">
                <a class="nav-link {{ infos_link }}" href="{{ path('account', {'id': app.user.id}) }}">MES INFOS</a>
            </li>
            <li class="col-md-6 nav-item nav-link {{ commandes_link }}">MES COMMANDES</li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if userOrderStatus == 'En attente de validation' %}
            <div class="row in-progress">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>COMMANDES EN COURS</h2>
                                </th>
                            </tr>
                        </thead>
                        {% for order in userOrders %}
                            {% if order.orderStatus == 'En attente de validation' %}
                                <tbody class="col-md-12">
                                    <tr class="row ms-2 me-2 mb-1">
                                        <td class="col-md-2">N° {{ order.id }}</td>
                                        <td class="col-md-2">{{ order.orderDate|date("m/d/Y") }}</td>
                                        <td class="col-md-2">{{ order.orderPrice }}€</td>
                                        <td class="col-md-3 mt-2 mb-2 order-status">{{ order.orderStatus}}</td>
                                        <td class="col-md-3">
                                            <a href="{{ path('order_details', {'id': user.id, 'orderId': order.id, 'status': 'progress'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if userOrderStatus == 'Commande prête' %}
            <div class="row ok">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-4">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>COMMANDES VALIDÉES</h2>
                                </th>
                            </tr>
                        </thead>
                        {% for order in userOrders %}
                            {% if order.orderStatus == 'Commande prête' %}
                                <tbody class="col-md-12">
                                    <tr class="row ms-2 me-2 mb-1">
                                        <td class="col-md-2">N° {{ order.id }}</td>
                                        <td class="col-md-2">{{ order.orderDate|date("m/d/Y") }}</td>
                                        <td class="col-md-2">{{ order.orderPrice }}€</td>
                                        <td class="col-md-3 mt-2 mb-2 order-status">{{ order.orderStatus }}</td>
                                        <td class="col-md-3">
                                            <a href="{{ path('order_details', {'id': user.id, 'orderId': order.id, 'status': 'ok'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if userOrderStatus == 'Commande réceptionnée' %}
            <div class="row past">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-4">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>COMMANDES PASSÉES</h2>
                                </th>
                            </tr>
                        </thead>
                        {% for order in userOrders %}
                            {% if order.orderStatus == 'Commande réceptionnée' %}
                                <tbody class="col-md-12">
                                    <tr class="row ms-2 me-2 mb-1">
                                        <td class="col-md-2">N° {{ order.id }}</td>
                                        <td class="col-md-2">{{ order.orderDate|date("m/d/Y") }}</td>
                                        <td class="col-md-2">{{ order.orderPrice }}€</td>
                                        <td class="col-md-3 mt-2 mb-2 order-status">{{ order.orderStatus }}</td>
                                        <td class="col-md-3">
                                            <a href="{{ path('order_details', {'id': user.id, 'orderId': order.id, 'status': 'past'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if userOrderStatus == 'Commande annulée' %}
            <div class="row canceled">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>COMMANDES ANNULÉES</h2>
                                </th>
                            </tr>
                        </thead>
                        {% for order in userOrders %}
                            {% if order.orderStatus == 'Commande annulée' %}
                                <tbody class="col-md-12">
                                    <tr class="row ms-2 me-2 mb-1">
                                        <td class="col-md-2">N° {{ order.id }}</td>
                                        <td class="col-md-2">{{ order.orderDate|date("m/d/Y") }}</td>
                                        <td class="col-md-2">{{ order.orderPrice }}€</td>
                                        <td class="col-md-3 mt-2 mb-2 order-status">{{ order.orderStatus}}</td>
                                        <td class="col-md-3">
                                            <a href="{{ path('order_details', {'id': user.id, 'orderId': order.id, 'status': 'canceled'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}