{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/homepage.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid slide">
        <div class="row">
            <img src="images/home_ice_slider.jpg" width="100%" alt="Boules de glace en pots"/>
            <div class="col-md-3" id="slide-text">
                <p>ICE <strong>100%</strong> ARTISANALES</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class="row justify-content-md-center">{{ title1 }}</h1>
        <div class="row category" id="home-ice-cream">
            <div class="col-md-3 card border-light" style="max-width: 20rem;">
                <a href="/iceicebaby">
                    <div class="card-body">
                        <img src="images/home_icecream_glaces.jpg" width="100%" alt="Glace">
                    </div>
                    <div class="card-header">
                        <h2 class="card-title">GLACES</h1>
                        <p class="card-title">À base de crème</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 card border-light" style="max-width: 20rem;">
                <a href="">
                    <div class="card-body">
                        <img src="images/home_icecream_sorbets.jpg" width="100%" alt="Glace">
                    </div>
                    <div class="card-header">
                        <h2 class="card-title">SORBETS</h1>
                        <p class="card-title">Du fruit, du fruit, du fruit !</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 card border-light" style="max-width: 20rem;">
                <a href="">
                    <div class="card-body">
                        <img src="images/home_icecream_icesticks.jpg" width="100%" alt="Glace">
                    </div>
                    <div class="card-header">
                        <h2 class="card-title">ICE STICKS</h1>
                        <p class="card-title">Nos glaces et sorbets sur bâtonnets</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 card border-light" style="max-width: 20rem;">
                <a href="">
                    <div class="card-body">
                        <img src="images/home_icecream_cones.jpg" width="100%" alt="Glace">
                    </div>
                    <div class="card-header">
                        <h2 class="card-title">CÔNES</h1>
                        <p class="card-title">Des goûts fous dans un cornet</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid slide">
        <div class="row">
            <img src="images/home_frozen_lemon.jpg" width="100%" alt="Citrons givrés"/>
            <div class="col-md-4" id="home-ice-factory">
                <p id="ice-factory-title">ICE FACTORY</p>
                <p id="ice-factory-text">Vous avez une commande spéciale à faire pour un évènement, ou juste pour vous faire plaisir ?</p>
                <button type="button" class="btn btn-info" id="ice-factory-button">Faire un tour à la ICE FACTORY</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class="row justify-content-md-center">{{ title2 }}</h1>
        <div class="row category" id="home-ice-dessert">
            <div class="col-md-4 card border-light">
                <a href="">
                    <div class="card-body">
                        <img src="images/home_icedessert_buches.jpg" width="100%" alt="Glace">
                    </div>
                    <div class="card-header">
                        <h2>BÛCHES</h2>
                        <p class="card-title">mélanges originaux et odacieux</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card border-light">
                <a href="">
                    <div class="card-body">
                        <img src="images/home_icedessert_iceentremets.jpg" width="100%" alt="Glace">
                    </div>
                    <div class="card-header">
                        <h2>ICE ENTREMETS</h2>
                        <p class="card-title">classiques revisités pour vous régaler</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class="row justify-content-md-center">{{ title3 }}</h1>
        <div class="row category" id="nos-ice-et-vous">
            <div class="col-md-3">
                <img src="images/home_nosiceetvous_1.jpg" alt="Glace">
            </div>
            <div class="col-md-3">
                <img src="images/home_nosiceetvous_2.jpg" alt="Glace">
            </div>
            <div class="col-md-3">
                <img src="images/home_nosiceetvous_3.jpg" alt="Glace">
            </div>
            <div class="col-md-3">
                <img src="images/home_nosiceetvous_4.jpg" alt="Glace">
            </div>
        </div>
    </div>
{% endblock %}
