{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/homepage.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/productspage.css') }}" type="text/css" rel="stylesheet">    
{% endblock %}

{% block title %}Ice cream baby !{% endblock %}

{% block navbar2 %}
    <div class="row second_navbar ms-auto me-auto mb-4">
        <ul class="navbar-nav">
            <li class="col-md-3 nav-item">
                <a class="nav-link {{ glaces_link }}" href="#glace">GLACES</a>
            </li>
            <li class="col-md-3 nav-item">
                <a class="nav-link {{ sorbets_link }}" href="#sorbet">SORBETS</a>
            </li>
            <li class="col-md-3 nav-item">
                <a class="nav-link {{ icesticks_link }}" href="#ice-stick">ICE STICKS</a>
            </li>
            <li class="col-md-3 nav-item">
                <a class="nav-link {{ cones_link }}" href="#cone">CÔNES</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="glace">
        <h1 class="row justify-content-md-center">{{ title1 }}</h1>
        <div class="row category products">
            {% for glace in glaces %}
                <div class="col-md-3 card border-light product-card galery">
                    <a href="{{ path('productsheet', {'id': glace.id, 'type': 'glace'}) }}">
                        <div class="card-body">
                            <img src="images/{{ glace.productMainPicture }}" width="100%" alt="Glace">
                        </div>
                        <div class="card-header">
                            <h2 class="card-title">{{ glace.productName }}</h1>
                            <p class="card-title">{{ glace.productTaste }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid" id="sorbet">
        <h1 class="row justify-content-md-center">{{ title2 }}</h1>
        <div class="row category products">
            {% for sorbet in sorbets %}
                <div class="col-md-3 card border-light product-card galery">
                    <a href="{{ path('productsheet', {'id': sorbet.id, 'type': 'sorbet'}) }}">
                        <div class="card-body">
                            <img src="images/{{ sorbet.productMainPicture }}" width="100%" alt="Sorbet">
                        </div>
                        <div class="card-header">
                            <h2 class="card-title">{{ sorbet.productName }}</h1>
                            <p class="card-title">{{ sorbet.productTaste }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid" id="ice-stick">
        <h1 class="row justify-content-md-center">{{ title3 }}</h1>
        <div class="row category products">
            {% for icestick in icesticks %}
                <div class="col-md-3 card border-light product-card galery">
                     <a href="{{ path('productsheet', {'id': icestick.id, 'type': 'ice-stick'}) }}">
                        <div class="card-body">
                            <img src="images/{{ icestick.productMainPicture }}" width="100%" alt="Ice stick">
                        </div>
                        <div class="card-header">
                            <h2 class="card-title">{{ icestick.productName }}</h1>
                            <p class="card-title">{{ icestick.productTaste }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid" id="cone">
        <h1 class="row justify-content-md-center">{{ title4 }}</h1>
        <div class="row category products">
            {% for cone in cones %}
                <div class="col-md-3 card border-light product-card galery">
                    <a href="{{ path('productsheet', {'id': cone.id, 'type': 'cone'}) }}">
                        <div class="card-body">
                            <img src="images/{{ cone.productMainPicture }}" width="100%" alt="Cône">
                        </div>
                        <div class="card-header">
                            <h2 class="card-title">{{ cone.productName }}</h1>
                            <p class="card-title">{{ cone.productTaste }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}