{% extends 'base.html.twig' %}

{% form_theme form_factoryOrder 'bootstrap_4_layout.html.twig' %} {# Utilisation d'un thème pour le formulaire #}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/homepage.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/productspage.css') }}" type="text/css" rel="stylesheet">    
{% endblock %}

{% block title %}Make your own ice{% endblock %}

{% block body %}
<div class="container-fluid slide" id="icefactory">
    <img src="images/icefactory_slider.jpg" width="100%" alt="Photo d'une création de la Ice Factory'">
    <div class="container-fluid">
        <h1>Ice Factory</h1>
        <div class="row category" id="icefactory_explain">
            <div class="col-md-8 ice-card">
                <div class="content">
                    <h2>Votre création, notre savoir-faire</h2>
                    <p>Fusce odio ipsum, sollicitudin non lobortis vitae, elementum vitae arcu. Nunc vitae dui consequat, lacinia nisl quis, imperdiet risus. Praesent tincidunt sed arcu ut lobortis. Donec interdum libero eget egestas hendrerit. Nulla interdum ipsum risus, sit amet molestie nibh vehicula sit amet. Vivamus ac ante nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div>
                    <button type="button" class="btn btn-info form-btn iceice-button" onclick="window.location.href = '#icefactory-form';">Contacter la ICE FACTORY</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="icefactory_galery">
        <h1 class="row justify-content-md-center ms-auto me-auto">Créations de la Ice Factory :</h1>
        <div class="row col-md-10 category pictures">
            <div class="col-md-4 galery">
                <img src="images/icefactory_production_1.jpg" alt="Glace">
            </div>
            <div class="col-md-4 galery">
                <img src="images/icefactory_production_2.jpg" alt="Glace">
            </div>
            <div class="col-md-4 galery">
                <img src="images/icefactory_production_3.jpg" alt="Glace">
            </div>
            <div class="col-md-4 galery">
                <img src="images/icefactory_production_4.jpg" alt="Glace">
            </div>
            <div class="col-md-4 galery">
                <img src="images/icefactory_production_5.jpg" alt="Glace">
            </div>
            <div class="col-md-4 galery">
                <img src="images/icefactory_production_6.jpg" alt="Glace">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1>Demande de devis</h1>
        <div class="row" id="icefactory-form">
            <div class="col-md-9 ice-card ms-auto me-auto mb-5 pt-5">
                {{ form_start(form_factoryOrder) }}

                {{ form_row(form_factoryOrder.factoryFirstname, {'attr': {'placeholder': "Mon prénom"}}) }}
                {{ form_row(form_factoryOrder.factoryLastname, {'attr': {'placeholder': "Mon nom"}}) }}
                {{ form_row(form_factoryOrder.factoryMail, {'attr': {'placeholder': "Pour que j'obtienne une réponse à ma demande de devis"}}) }}
                {{ form_row(form_factoryOrder.factoryDeadline) }}
                {{ form_row(form_factoryOrder.factoryRequest, {'attr': {'placeholder': "J'ai une super idée !"}}) }}

                <button type="submit" class="btn btn-info form-btn iceice-button">Envoyer ma Ice commande</button>

                {{ form_end(form_factoryOrder) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}