{% extends "base.html.twig" %}

{% block title %}Détail des commandes de la Factory{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/cart.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block betweenNavbars %}
    <h1 class="row justify-content-md-center">Mes commandes</h1>
{% endblock %}

{% block navbar2 %}
    <div class="row second_navbar mt-4 ms-auto me-auto mb-3">
        <ul class="navbar-nav">
            <li class="col-md-6 nav-item">
                <a class="nav-link {{ admin_orders_link }}" href="{{ path('admin') }}">ICE COMMANDES</a>
            </li>
            <li class="col-md-6 nav-item">
                <a class="nav-link {{ admin_factory_link }}" href="{{ path('admin_icefactory') }}">ICE FACTORY</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if factoryOrdersWaiting %}
            <div class="row in-progress">
        {% elseif factoryOrdersOk %}
            <div class="row ok">
        {% elseif factoryOrdersPast %}
            <div class="row past">
        {% elseif factoryOrdersCanceled %}
            <div class="row canceled">
        {% endif %}
            <div class="col-md-8 mb-2 ms-auto me-auto text-start return-icon">
                <a href="{{ path('admin_icefactory') }}" class="row">
                    <div class="col-md-1 pe-2 text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                        </svg>
                    </div>
                    <div class="col-md-2">
                        <p class="pt-1">Retour</p>
                    </div>
                </a>
            </div>
            <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                <table class="row table mb-1">
                    <thead class="col-md-12">
                        <tr class="row table-title">
                            <th class="col-md-12">
                                <h2>DEMANDES DE DEVIS N°{{ factoryOrder.id }} - <small>{{ factoryOrder.factoryDate|date("m/d/Y") }}</small></h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="col-md-12">
                        <tr class="row ms-2 me-2 mb-1">
                            <td class="col-md-6">
                                <strong>{{ factoryOrder.factoryFirstname }} {{ factoryOrder.factoryLastname }}</strong><br>
                                <small>{{ factoryOrder.factoryMail }}</small>
                            </td>
                            <td class="col-md-6">Deadline : {{ factoryOrder.factoryDeadline|date("m/d/Y") }}</td>
                        </tr>
                        <tr class="row ms-2 me-2 mb-1">
                            <td class="col-md-12 mt-2 mb-2 p-4">{{ factoryOrder.factoryRequest}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="col-md-12">
                        <tr class="row ms-2 me-2 mb-1">
                            <td class="col-md-8 ms-auto me-auto order-status-change">
                                {{ form_start(form_updateOrder) }}
                                {{ form_row(form_updateOrder.factoryStatus, {'label': 'STATUS :'}) }}
                                {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg> #}
                                <button type="submit" class="btn btn-info form-btn iceice-button change-button mt-0">Changer le status</button>
                                {{ form_end(form_updateOrder) }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}