{% extends "base.html.twig" %}

{% block title %}La Ice Factory{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/cart.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block betweenNavbars %}
    <h1 class="row justify-content-md-center">Mes commandes</h1>
{% endblock %}

{% block navbar2 %}
    <div class="row second_navbar mt-4 ms-auto me-auto mb-3">
        <ul class="navbar-nav">
            <li class="col-md-6 nav-item">
                <a class="nav-link {{ admin_orders_link }}" href="{{ path('admin') }}">ICE COMMANDES</a>
            </li>
            <li class="col-md-6 nav-item">
                <a class="nav-link {{ admin_factory_link }}" href="{{ path('admin_icefactory') }}">ICE FACTORY</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if factoryOrdersWaiting %}
            <div class="row in-progress">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>DEMANDES DE DEVIS</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="col-md-12">
                            {% for order in factoryOrdersWaiting %}
                                <tr class="row ms-2 me-2 mb-1">
                                    <td class="col-md-1">N° {{ order.id }}</td>
                                    <td class="col-md-2"><strong>{{ order.factoryFirstname }} {{ order.factoryLastname }}</strong></td>
                                    <td class="col-md-2">Date de la demande : {{ order.factoryDate|date("m/d/Y") }}</td>
                                    <td class="col-md-2">Deadline :<br>{{ order.factoryDeadline|date("m/d/Y") }}</td>
                                    <td class="col-md-3 mt-2 mb-2 order-status">{{ order.factoryStatus}}</td>  
                                    <td class="col-md-2">   
                                        <a href="{{ path('admin_icefactory_details', {'factoryOrderId': order.id, 'status': 'progress'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                    </td>                       
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if factoryOrdersOk %}
            <div class="row ok">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>DEMANDES VALIDÉES</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="col-md-12">
                            {% for order in factoryOrdersOk %}
                                <tr class="row ms-2 me-2 mb-1">
                                    <td class="col-md-1">N° {{ order.id }}</td>
                                    <td class="col-md-2"><strong>{{ order.factoryFirstname }} {{ order.factoryLastname }}</strong></td>
                                    <td class="col-md-2">Date de la demande : {{ order.factoryDate|date("m/d/Y") }}</td>
                                    <td class="col-md-2">Deadline :<br>{{ order.factoryDeadline|date("m/d/Y") }}</td>
                                    <td class="col-md-3 mt-2 mb-2 order-status">{{ order.factoryStatus}}</td>  
                                    <td class="col-md-2">   
                                        <a href="{{ path('admin_icefactory_details', {'factoryOrderId': order.id, 'status': 'ok'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                    </td>                       
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        
        {% if factoryOrdersPast %}
            <div class="row past">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>COMMANDES RÉCEPTIONNÉES</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="col-md-12">
                            {% for order in factoryOrdersPast %}
                                <tr class="row ms-2 me-2 mb-1">
                                    <td class="col-md-1">N° {{ order.id }}</td>
                                    <td class="col-md-2"><strong>{{ order.factoryFirstname }} {{ order.factoryLastname }}</strong></td>
                                    <td class="col-md-2">Date de la demande : {{ order.factoryDate|date("m/d/Y") }}</td>
                                    <td class="col-md-2">Deadline :<br>{{ order.factoryDeadline|date("m/d/Y") }}</td>
                                    <td class="col-md-3 mt-2 mb-2 order-status">{{ order.factoryStatus}}</td>  
                                    <td class="col-md-2">   
                                        <a href="{{ path('admin_icefactory_details', {'factoryOrderId': order.id, 'status': 'past'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                    </td>                       
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if factoryOrdersCanceled %}
            <div class="row canceled">
                <div class="col-md-8 ice-card infos-card ms-auto me-auto mb-3">
                    <table class="row table mb-1">
                        <thead class="col-md-12">
                            <tr class="row table-title">
                                <th class="col-md-12">
                                    <h2>DEMANDES REFUSÉES</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="col-md-12">
                            {% for order in factoryOrdersCanceled %}
                                <tr class="row ms-2 me-2 mb-1">
                                    <td class="col-md-1">N° {{ order.id }}</td>
                                    <td class="col-md-2"><strong>{{ order.factoryFirstname }} {{ order.factoryLastname }}</strong></td>
                                    <td class="col-md-2">Date de la demande : {{ order.factoryDate|date("m/d/Y") }}</td>
                                    <td class="col-md-2">Deadline :<br>{{ order.factoryDeadline|date("m/d/Y") }}</td>
                                    <td class="col-md-3 mt-2 mb-2 order-status">{{ order.factoryStatus}}</td>  
                                    <td class="col-md-2">   
                                        <a href="{{ path('admin_icefactory_details', {'factoryOrderId': order.id, 'status': 'canceled'}) }}" class="col-md-10 pt-1 pb-1 btn btn-sm btn-info iceice-button mt-0">Détails</a>
                                    </td>                       
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}